<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Danh sách câu hỏi</h1>
<h2>(10, 5, 3, 12, 6, 7, 5, 3)</h2>
<ul>
    <li>
        <a th:href="@{/evenNumber}"> 2. Tìm các giá trị chẵn trong list</a>
    </li>
    <li>
        <a th:href="@{/greaterThanfive}">3. Tìm các giá trị > 5 trong list</a>
    </li>
    <li>
        <a th:href="@{/max}">4. Tìm giá trị max trong list</a>
    </li>
    <li>
        <a th:href="@{/min}">5. Tìm giá trị min trong list</a>
    </li>
    <li>
        <a th:href="@{/sum}">6. Tính tổng các phần tử của mảng</a>
    </li>
    <li>
        <a th:href="@{distinctNum}">7. Lấy danh sách các phần tử không trùng nhau</a>
    </li>
    <li>
        <a th:href="@{limitFive}">8. Lấy 5 phần tử đầu tiên trong mảng</a>
    </li>
    <li>
        <a th:href="@{/fromThreeToFive}">9. Lấy phần tử từ thứ 3 -> thứ 5</a>
    </li>
    <li>
        <a th:href="@{/fistGreaterThanFive}">10. Lấy phần tử đầu tiên > 5</a>
    </li>
</ul>


<script th:src="@{/js/main.js}"></script>

</body>
</html>